{#
/**
 * @file
 * Template for Reports Dashboard.
 *
 * Available variables:
 * - filters: filter form block
 * - view: themed report view
 *
 * @ingroup themeable
 */
#}
<div class="d8-reports-dashboard">
  {{ filters }}
  {{ view }}
</div>
