{#
/**
 * @file
 * Template for Reports Dashboard.
 *
 * Available variables:
 * - views: view links
 * - filters: filter form block
 *
 * @ingroup themeable
 */
#}
<div class="d8-reports-dashboard-filters-block">
  <div class="d8-reports-dashboard-view-tabs">
    {{ views.orders }}
    {{ views.subscribers }}
  </div>

  {{ form }}
</div>
